In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('apple_data.csv')  
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df = df.asfreq('B')

In [7]:
df.head()

                Close       High        Low       Open       Volume
Date
2015-01-02  24.288580  24.757334  23.848706  24.746226  212818400.0
2015-01-05  23.604326  24.137507  23.417714  24.057530  257142000.0
2015-01-06  23.606552  23.866477  23.244433  23.668756  263188400.0
2015-01-07  23.937576  24.037547  23.704309  23.815388  160423600.0
2015-01-08  24.857306  24.915067  24.148620  24.266365  237458000.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2607 entries, 2015-01-02 to 2024-12-30
Freq: B
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   2515 non-null   float64
 1   High    2515 non-null   float64
 2   Low     2515 non-null   float64
 3   Open    2515 non-null   float64
 4   Volume  2515 non-null   float64
dtypes: float64(5)
memory usage: 122.2 KB

In [6]:
df.isnull().sum()

Close     92
High      92
Low       92
Open      92
Volume    92
dtype: int64

Handling Missing Values

In [11]:
df['Close'] = df['Close'].interpolate(method='linear')

In [12]:
df.isnull().sum()

Close      0
High      92
Low       92
Open      92
Volume    92
dtype: int64

Prophet Data Preparation

In [14]:
df_prophet = df[['Close']].reset_index().rename(columns={
    'Date': 'ds',
    'Close': 'y'
})

In [15]:
df_prophet.head()

          ds          y
0 2015-01-02  24.288580
1 2015-01-05  23.604326
2 2015-01-06  23.606552
3 2015-01-07  23.937576
4 2015-01-08  24.857306